{% load blog_tags %}

<!-- شريط جانبي قابل للفتح والإغلاق -->
<div id="sidebar" class="sidebar">
    <a href="{% url 'blog:add_post' %}" class="nav-button">Add New Blog</a>
    <button onclick="closeSidebar()" class="close-button">❮</button>

    <!-- عرض أحدث المقالات -->
    <h2 class="navbar-title">latest posts</h2>
    <div class="latest-posts">
        {% show_latest_posts 5 %}
    </div>
    
    <h2 class="navbar-title">Most Commented Posts</h2>
    <div>
        {% get_most_commented_posts 3 as get_most_commented_posts %}
        {% for post in get_most_commented_posts %}
        <div class="post-item">
            <a href="{{ post.get_absolute_url }}" class="post-title">{{ post.title|capfirst }}</a> <!-- for more filters https://docs.djangoproject.com/en/5.1/ref/templates/builtins/#title -->
            <p class="post-comments">{{ post.total_comments }} comments</p>
        </div>
        {% endfor %}
    </div>
    
</div>


<!-- زر فتح الشريط الجانبي -->
<button onclick="openSidebar()" class="open-button">❯</button>
